html,
body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
p {
    color: #ffffff;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
        "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #34568b;
    height: auto;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

button {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

textarea {
    min-width: 500px;
    min-height: 300px;
    margin-bottom: 20px;
    resize: none;
    border: none;
}

#codemirror {
    min-width: 500px;
    min-height: 300px;
    margin-bottom: 20px;
    resize: none;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#console {
    background-color: black;
    color: green;
    font-size: medium;
}

.file-format {
    display: flex;
    margin-left: 8px;
    margin-top: 25px;
}
.button-34 {
    align-items: center;
    background-color: #0a66c2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
        "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-34:hover {
    background-color: #16437e;
    color: #ffffff;
}
